.tony1__navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 6rem;
}
.tony1__navbar-links{
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.tony1__navbar-links_logo{ 
margin-right: 2rem;
}

.tony1__navbar-links_logo img{
    width: 62.56px;
    height: 16.02px;
}
.tony1__navbar-links_container{
    display: flex;
   justify-content: flex-start;
   align-items: center;
   flex: 1;
}
.tony1__navbar-sign{
    display: flex;
    justify-content: flex-end;
    align-items: center;
  text-align: right;
  flex: 1;
}
.tony1__navbar-links_container p,
.tony1__navbar-sign p,
.tony1__navbar-menu_container p{
    color: #fff;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    text-transform: capitalize;
    margin: 0 1rem;
    cursor: pointer;
}
.tony1__navbar-sign button,
.tony1__navbar-menu_container button {
    padding: 1rem 2rem;
    color: #fff;
    background: #ff4820;
    font-size: var(--font-family);
    font-weight: 500;
    border-radius: 5px;
    font-size: 18px;
    line-height: 25px;
    border: 0;
    outline: none;
    cursor: pointer;

}

.tony1__navbar-menu{
    margin-left: 1rem;
    display: none;
    position: relative;
}
.tony1__navbar-menu svg{
    cursor: pointer;
}
.tony1__navbar-menu_container{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    text-align: end;
    background: var(--color-footer );
    padding: 2rem;
    position: absolute;
    top: 40px;
    right: 0;
    margin-top: 1rem;
    min-width: 210px;
    border-radius: 5px;
    box-shadow: 0 0 5 rgba( 0, 0 ,0 0.2)
}

.tony1__navbar-menu_container p{
    margin: 1rem 0;
}

.tony1__navbar-menu_container-links-sign{
    display: none;
    left: 1070px;
}

/* For screens smaller than 1050px */
@media screen and (max-width: 1100px) {
    .tony1__navbar-links_container {
        display: none;
    }
    .tony1__navbar-menu {
        display: flex;
        margin-left: auto; /* Move menu to the right */
    }
}

/* For screens smaller than 550px */
@media screen and (max-width: 550px) {
    .tony1__navbar {
        padding: 2rem;
    }
    .tony1__navbar-sign {
        display: none;
    }
    .tony1__navbar-menu_container {
        top: 20px;
    }
    .tony1__navbar-menu_container-links-sign {
        display: block;
    }
    .tony1__navbar-menu {
        margin-left: auto; /* Move menu to the right */
    }
}
