.tony1__header{
    display: flex;
}
.tony1__header-content{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 0rem 6rem;
}
.tony1__header-content h1{
    font-family: var(--font-family);
    font-weight: 800;
    font-style: normal;
    font-weight: 800;
    font-size: 62px;
    line-height: 75px;
    letter-spacing: -0.04em;

}
.tony1__header-content p{
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: #81AFDD;
    margin-top: 1.5rem;
}
.tony1__header-content__input{
    width: 100%;
    margin: 2rem 0 1rem;
    display: flex;

}
.tony1__header-content__input input{
    flex: 2;
    width: 100%;
    min-height: 50px;
    background: #052D56;
    border-radius: 5px 0px 0px 5px; 
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    border: 2px solid var(--color-footer);
    border-radius: 5px 0px 0px 5px;
    padding: 0 1rem;
    outline: none;
    color:#fff;

    color: #3D6184;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
.tony1__header-content__input button{
    flex: 0.6;
    width: 100%;
    min-height: 50px;
    font-family: var(--font-family);
    font-weight: bold;

    background: #FF4820;

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;

    color: #FFFFFF;
    cursor: pointer;
    outline: none;
    padding: 0 1rem;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;

}
.tony1__header-content__people{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 2rem;
}
.tony1__header-content__people img{
    width: 181.79px;
    height: 38px;
}
.tony1__header-content__people p{
    margin:0 0 0 1rem;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 12px;
    line-height: 38px;
    color: #FFFFFF;
    text-align: center; 
}

.tony1__header-image{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

}
.tony1__header-image img{
    width: 100%;
    height: 100%;
}
@media screen and (max-width: 1050px){
    .tony1__header{
        flex-direction: column;
    }
    .tony1__header-content{
        margin: 0 0 3rem;
    }
}

@media screen and (max-width: 650px){
    .tony1__header h1{
        font-size: 48px;
        line-height: 60px;
    }
    .tony1__header p{
        font-size: 16px;
        line-height:24px;
    }
    .tony1__header-content__people{
        flex-direction: column;
    }
    .tony1__header-content__people p{
        margin: 0;
    }
    .tony1__header-content__input input,
    .tony1__header-content__input button{
        font-size: 16px;
        line-height: 24px;
    }
}
@media screen and (max-width: 490px){
    .tony1__header h1{
        font-size: 36px;
        line-height: 48px;
    }
    .tony1__header p{
        font-size: 14px;
        line-height: 24px;
}
.tony1__header-content__input input,
.tony1__header-content__input button{
    font-size: 12px;
    line-height: 16px;
}
}